mycross		CURSOR	images\\cross3.cur
rightangle	CURSOR	images\\cross2.cur
myhand		CURSOR	images\\m_lnksel.cur
window  	ICON    images\\ii7.ico
ztrayicon 	ICON	images\\trayicon.ico
// rightarrow	ICON		rightarrow.ico

1 VERSIONINFO
FILEVERSION 0,7
PRODUCTVERSION 0,7,1
FILEOS 0x5
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
BLOCK "040904E4"
{
VALUE "Comments", "Copyright: Michael McElligott © 2002. All Rights Reserved."
// VALUE "CompanyName", "FungSystems"
VALUE "FileDescription", "ISif"
VALUE "FileVersion", "0.7.1"
VALUE "InternalName", "ISif"
VALUE "LegalCopyright", "Michael McElligott. All Rights Reserved."
// VALUE "LegalTrademarks", "Yes"
VALUE "OriginalFilename", "ii.exe"
VALUE "ProductName", "ISif"
VALUE "ProductVersion", "0.7.1 090902"

}
}

BLOCK "VarFileInfo"
{
VALUE "Translation", 0x0409 0x04E4
}
}

